# Exclude .venv folder
!.venv/

# Ignore everything inside the .idea directory
.idea/*

# Ignore the environment configuration file
config_data.env

# Ignore everything inside the config_datas directory
config_datas/*
